body {
    background-image: url("airport.jpg");
    background-size: cover;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}

h2 {
    font-size: 50px;
    margin: 0 20px;
}

.counter {
    background-color: skyblue;
    border-radius: 20px;
    width: 80%;
    max-width: 500px;
    margin: 50px auto; 
    padding: 30px;
    text-align: center;
    border: 3px solid black;

}

button {
    border: none;
    padding: 10px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid black;

}

.increment-decrement-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    gap: 50px;
}

#increment-btn {
    background: #49bf60;
    width: 50px;
    margin-right: 20px;
}

#decrement-btn {
    background: #bf5849;
    width: 50px;
    margin-left: 20px; 
}

#save-btn {
    background: navy;
    width: 100px;
}

#reset-btn {
    background-color: gray;
    width: 100px;
}

#clear-btn{
    background-color: #aa3dd9;
    width: 100px;
}
